@media only screen and (max-width: 720px) {
    nav {
        background-color: lightblue;
    }
}

#welcome-section {
    height: 100vh;
    overflow: auto;
}

body {
    position: relative;
}

#navbar {
    position: fixed;
}

#welcome-text {
    margin-top: 80px;
}